{% extends 'admin/base.html.twig' %}

{% block title 'Admin - Utilisateurs' %}

{% block breadcrumb %}
    <header class="content__title">
        <h1>Utilisateurs</h1>
        <small>Vérifie bien l'identité de la personne avant de l'activer !</small>
    </header>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Liste des utilisateurs</h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="10">#</th>
                        <th width="110" class="text-center">Etat</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td nowrap>{{ user.id }}</td>
                            <td class="text-center" nowrap>
                                {% set icon = user.enabled ? 'primary' : 'danger' %}
                                {% set text = user.enabled ? 'Activé' : 'Désactivé' %}
                                <label class="badge badge-{{ icon }}">{{ text }}</label>
                            </td>
                            <td nowrap>{{ user.firstName ~ ' ' ~ user.lastName }}</td>
                            <td nowrap>{{ user.email }}</td>
                            <td nowrap>{{ user.phone }}</td>
                            <td class="text-center">
                                {% if user.enabled %}
                                    <form class="inline" action="{{ url('admin_user_disable') }}" method="post">
                                        <input type="hidden" name="token" value="{{ csrf_token('admin-user-disable') }}" />
                                        <input type="hidden" name="id" value="{{ user.id }}" />
                                        <button class="btn btn-danger btn-sm" type="submit">Désactiver</button>
                                    </form>
                                {% else %}
                                    <form class="inline" action="{{ url('admin_user_enable') }}" method="post">
                                        <input type="hidden" name="token" value="{{ csrf_token('admin-user-enable') }}" />
                                        <input type="hidden" name="id" value="{{ user.id }}" />
                                        <button class="btn btn-primary btn-sm" type="submit">Activer</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
