<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'admin_home' ? 'active' : '' }}" href="{{ path('admin_home') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'admin_user_list' ? 'active' : '' }}" href="{{ path('admin_user_list') }}">Utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'admin_photo_list' ? 'active' : '' }}" href="{{ path('admin_photo_list') }}">Photos</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Retour au site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sign_out') }}">
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
