{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block content %}
    <div class="container">
        <section class="pt-4 pb-4">
            <h2>Les dernières photos partagées</h2>
            <div class="row">
                {% for photo in photos %}
                    <div class="col-md-3 mt-4">
                        <a href="{{ path('photo_view', {'id': photo.id}) }}" data-toggle="lightbox" data-title="{{ photo.label }}" data-footer="{{ photo.description }}" data-gallery="publication-{{ photo.publication.id }}">
                            <img src="{{ path('photo_view', {'id': photo.id}) }}" class="img-fluid">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
